@page "/images/build"

<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
        <form>
            <div class="form-section-title">
                Repository Tag
            </div>
            <div class="form-group row">
                <div class="col">
                    <span class="text-muted small">
                        Only one
                        <span class="font-weight-bolder">
                            required
                        </span>
                        but you can add multiple repository names. Tags are optional. The default value of
                        <span class="font-weight-bolder">
                            latest
                        </span>
                        will be used if neglected.
                    </span>
                </div>
            </div>
            <a href="#" class="btn-sm btn-success">
                <span class="fa fa-plus"></span> Add new
            </a>
            <div class="form-group">
                <div class="form-row mt-1">
                    <div class="col-sm-5">
                        <label class="sr-only" for="name1">Repository</label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">repository</div>
                            </div>
                            <input type="text" class="form-control" id="nam1" placeholder="such as redpier, redpier/redpier" required>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <label class="sr-only" for="tag1">Tag</label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">tag</div>
                            </div>
                            <input type="text" class="form-control" id="tag1" placeholder="such as 1.0.0, 1.0.0-linux">
                        </div>
                    </div>
                    <div class="col">
                        <a href="#" class="btn btn-danger">
                            <span class="fa fa-trash"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row mt-1">
                    <div class="col-sm-5">
                        <label class="sr-only" for="name1">Repository</label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">repository</div>
                            </div>
                            <input type="text" class="form-control" id="nam1" placeholder="such as redpier, redpier/redpier" required>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <label class="sr-only" for="tag1">Tag</label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">tag</div>
                            </div>
                            <input type="text" class="form-control" id="tag1" placeholder="such as 1.0.0, 1.0.0-linux">
                        </div>
                    </div>
                    <div class="col">
                        <a href="#" class="btn btn-danger">
                            <span class="fa fa-trash"></span>
                        </a>
                    </div>
                </div>
            </div>
        </form>
        <div class="form-section-title">
            Build
        </div>
        <ul class="nav nav-tabs nav-justified flex-column flex-sm-row" role="tablist">
            <li class="nav-item">
                <a class="flex-sm-fill text-sm-center nav-link active" id="basicTab" data-toggle="tab" href="#webEditor" role="tab" aria-controls="webEditor" aria-selected="true">Web editor</a>
            </li>
            <li class="nav-item">
                <a class="flex-sm-fill text-sm-center nav-link" id="profileTab" data-toggle="tab" href="#uploadFile" role="tab" aria-controls="uploadFile" aria-selected="false">Upload</a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active py-4" id="webEditor" role="tabpanel" aria-labelledby="webEditorTab">
                <form>
                    <div class="form-section-title">
                        Web editor
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <span class="text-muted small">
                                For more information about the format of Dockerfile visit
                                <a href="https://docs.docker.com/engine/reference/builder/" target="_blank">Docker docs</a>.
                            </span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <WebEditor Id="editor" Rows="15"></WebEditor>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-pane py-4" id="uploadFile" role="tabpanel" aria-labelledby="uploadFileTab">
                <form>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <input type="file" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <a href="#" class="btn btn-primary my-2">Build image</a>
    </div>
</div>
