@page "/containers/add"

<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
        <ul class="nav nav-pills nav-justified flex-column flex-sm-row" role="tablist">
            <li class="nav-item">
                <a class="flex-sm-fill text-sm-center nav-link active" id="basicTab" data-toggle="tab" href="#basic" role="tab" aria-controls="basic" aria-selected="true">Basic</a>
            </li>
            <li class="nav-item">
                <a class="flex-sm-fill text-sm-center nav-link" id="profileTab" data-toggle="tab" href="#command" role="tab" aria-controls="command" aria-selected="false">Command</a>
            </li>
            <li class="nav-item">
                <a class="flex-sm-fill text-sm-center nav-link" id="labelsTab" data-toggle="tab" href="#labels" role="tab" aria-controls="labels" aria-selected="false">Labels</a>
            </li>
            <li class="nav-item">
                <a class="flex-sm-fill text-sm-center nav-link" id="MountsTab" data-toggle="tab" href="#mounts" role="tab" aria-controls="mounts" aria-selected="false">Mounts</a>
            </li>
            <li class="nav-item">
                <a class="flex-sm-fill text-sm-center nav-link" id="networkTab" data-toggle="tab" href="#network" role="tab" aria-controls="network" aria-selected="false">Network</a>
            </li>
            <li class="nav-item">
                <a class="flex-sm-fill text-sm-center nav-link" id="resourceTab" data-toggle="tab" href="#resources" role="tab" aria-controls="resources" aria-selected="false">Resources</a>
            </li>
        </ul>
        <form>
            <div class="tab-content">
                <div class="tab-pane active py-4" id="basic" role="tabpanel" aria-labelledby="basicTab">
                    <div class="form-group row">
                        <label for="name" class="col-sm-1 col-form-label">Name:</label>
                        <div class="col-sm-11">
                            <input type="text" class="form-control" id="name" placeholder="can be anything even nothing">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="image" class="col-sm-1 col-form-label">Image:</label>
                        <div class="col-sm-11">
                            <input type="text" class="form-control" id="image" placeholder="docker/getting-started:latest" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="console" class="col-sm-1 col-form-label">Restart:</label>
                        <div class="col-sm-11 mt-1">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="restartRadios" id="never" value="never" checked>
                                <label class="form-check-label" for="never">
                                    Never
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="restartRadios" id="always" value="always">
                                <label class="form-check-label" for="always">
                                    Always
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="restartRadios" id="onFailure" value="onFailure">
                                <label class="form-check-label" for="onFailure">
                                    On failure
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="restartRadios" id="unlessStopped" value="unlessStopped">
                                <label class="form-check-label" for="unlessStopped">
                                    Unless stopped
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane py-4" id="command" role="tabpanel" aria-labelledby="profileTab">
                    <div class="form-group row">
                        <div class="col">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="" id="overrideDefaultCommand">
                                <label class="form-check-label text-wrap" for="overrideDefaultCommand">
                                    Override default command
                                </label>
                            </div>
                            <input type="text" class="form-control" id="command" placeholder="'-logtostderr' '--housekeeping_interval=5s'" disabled>

                        </div>

                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="" id="overrideDefaultEntrypoint">
                                <label class="form-check-label text-wrap" for="overrideDefaultEntrypoint">
                                    Override default entrypoint
                                </label>
                            </div>
                            <input type="text" class="form-control" id="entrypoint" placeholder="/bin/sh -c" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <label for="workingDir" class="col-form-label">Working directory:</label>
                            <input type="text" class="form-control" id="workingDir" placeholder="/app">
                            <label for="user" class="col-form-label">User:</label>
                            <input type="text" class="form-control" id="user" placeholder="root">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <label for="console" class="col-form-label pr-3">Console:</label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="consoleRadios" id="consoleNone" value="none" checked>
                                <label class="form-check-label" for="consoleNone">
                                    None
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="consoleRadios" id="tty" value="tty">
                                <label class="form-check-label" for="tty">
                                    TTY
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="consoleRadios" id="interactive" value="interactive">
                                <label class="form-check-label" for="interactive">
                                    Interactive
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="consoleRadios" id="ttyInteractive" value="ttyInteractive">
                                <label class="form-check-label" for="ttyInteractive">
                                    TTY & Interactive
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane py-4" id="labels" role="tabpanel" aria-labelledby="labelsTab">
                    <div class="form-group">
                        <a href="#" class="btn-sm btn-success">
                            <span class="fa fa-plus"></span> Add new
                        </a>
                        <div class="form-row my-2">
                            <div class="col-sm-5">
                                <input type="text" class="form-control" placeholder="Name">
                            </div>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" placeholder="Value">
                            </div>
                            <div class="col">
                                <a href="#" class="btn btn-danger">
                                    <span class="fa fa-trash"></span>
                                </a>
                            </div>
                        </div>
                        <div class="form-row my-2">
                            <div class="col-sm-5">
                                <input type="text" class="form-control" placeholder="Name">
                            </div>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" placeholder="Value">
                            </div>
                            <div class="col">
                                <a href="#" class="btn btn-danger">
                                    <span class="fa fa-trash"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane py-4" id="mounts" role="tabpanel" aria-labelledby="mountsTab">
                    <div class="form-group">
                        <a href="#" class="btn-sm btn-success">
                            <span class="fa fa-plus"></span> Add bind mount
                        </a>
                        <a href="#" class="btn-sm btn-success mx-2">
                            <span class="fa fa-plus"></span> Add named volume
                        </a>
                        <div class="form-row my-2">
                            <div class="col-sm-5">
                                <input type="text" class="form-control" placeholder="Path in host machine">
                            </div>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" placeholder="Path in container">
                            </div>
                            <div class="col">
                                <a href="#" class="btn btn-danger">
                                    <span class="fa fa-trash"></span>
                                </a>
                            </div>
                        </div>
                        <div class="form-row my-2">
                            <div class="col-sm-5">
                                <select class="form-control" id="volumeSelect">
                                    <option selected>Select a volume</option>
                                    <option value="volume1">volume 1</option>
                                    <option value="volume2">volume 2</option>
                                    <option value="volume3">volume 3</option>
                                    <option value="volume4">volume 4</option>
                                    <option value="volume5">volume 5</option>
                                </select>
                            </div>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" placeholder="Path in container">
                            </div>
                            <div class="col">
                                <a href="#" class="btn btn-danger">
                                    <span class="fa fa-trash"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane py-4" id="network" role="tabpanel" aria-labelledby="networkTab">
                    <div class="form-group row">
                        <label for="network" class="col-lg-1 col-form-label">Network:</label>
                        <div class="col-lg-11">
                            <select class="form-control" id="network">
                                <option selected>bridge</option>
                                <option value="network1">Network 1</option>
                                <option value="network2">Network 2</option>
                                <option value="network3">Network 3</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="hostName" class="col-lg-1 col-form-label">Hostname:</label>
                        <div class="col-lg-11">
                            <input type="text" class="form-control" id="hostName" placeholder="hostname">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="domainName" class="col-lg-1 col-form-label">Domain Name:</label>
                        <div class="col-lg-11">
                            <input type="text" class="form-control" id="domainName" placeholder="somedomain.com">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="macAddress" class="col-lg-1 col-form-label">Mac Address:</label>
                        <div class="col-lg-11">
                            <input type="text" class="form-control" id="macAddress" placeholder="12:34:ab:cd:ef:56">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="ipv4" class="col-lg-1 col-form-label">IPv4 Address:</label>
                        <div class="col-lg-11">
                            <input type="text" class="form-control" id="ipv4" placeholder="175.15.15.20">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="ipv6" class="col-lg-1 col-form-label">IPv6 Address:</label>
                        <div class="col-lg-11">
                            <input type="text" class="form-control" id="ipv6" placeholder="fe80::5461:1c36:e4a1:be7c%23">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="primaryDNS" class="col-lg-1 col-form-label">1st DNS:</label>
                        <div class="col-lg-11">
                            <input type="text" class="form-control" id="primaryDNS" placeholder="8.8.8.8">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="secondaryDNS" class="col-lg-1 col-form-label">2nd DNS:</label>
                        <div class="col-lg-11">
                            <input type="text" class="form-control" id="secondaryDNS" placeholder="8.8.4.4">
                        </div>
                    </div>
                </div>
                <div class="tab-pane py-4" id="resources">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-2">
                                <label for="memoryLimitRange" class="col-form-label">Memory limit (MB):</label>
                            </div>
                            <div class="col-lg-8 pb-2">
                                <input type="range" class="form-control-range ml-auto mt-2" min="0" max="32768" value="0" id="memoryLimitRange" step="64">
                                <label class="text-muted">Unlimited</label>
                            </div>
                            <div class="col-lg-2 pb-2">
                                <input type="number" class="form-control" min="0" max="32768" value="0" id="memoryLimit" step="64">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-2">
                                <label for="cpuLimit" class="col-form-label">CPU limit (Threads):</label>
                            </div>
                            <div class="col-lg-8">
                                <input type="range" class="form-control-range ml-auto mt-2" min="0" max="12" value="0" id="cpuLimit" step="0.25">
                                <label class="text-muted">Unlimited</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary my-2">Deploy container</button>
        </form>
    </div>
</div>
