<div class="dropdown px-5">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dockerEndpointPicker" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Docker endpoint
    </button>
    <DockerEndpointPicker />
</div>
<a href="/logout" class="px-1">Logout</a>