@inherits LayoutComponentBase
@inject ILocalStorageService localStorage
@inject IToastService ToastService
@using Blazored.Toast.Configuration
@using Docker.DotNet.Models;

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        @*<div class="top-row px-4">
                <a href="/logout" class="ml-md-auto">Logout</a>
            </div>*@

        <div class="top-row">
            <NavBar />
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="5"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-check-circle"
                ErrorIcon="fa fa-exclamation-circle" />

@code{
    [Inject]
    public IEndpointService EndpointService { get; set; }


    private SystemInfoResponse SystemInfo { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await FetchData();
    }
    public async Task FetchData()
    {
        try
        {
            SystemInfo = await EndpointService.GetSystemInfo();
            await localStorage.SetItemAsync("systemInfo", SystemInfo);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}