<div class="dropdown px-5">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dockerEndpointPicker" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Endpoint
    </button>
    <ul class="dropdown-menu" aria-labelledby="dockerEndpointPicker">
        <li><a class="dropdown-item" href="#">local_windows</a></li>
        <li><a class="dropdown-item" href="#">local_linux</a></li>
    </ul>
</div>
<a href="/logout" class="px-1">Logout</a>

@code{

}