<div class="progress" hidden="@(!ShowProgressBar)">
    <div class="progress-bar" role="progressbar"
         style="width: @(((int)((ProgressBarValue / ProgressBarMaxValue) * 100)).ToString() + "%")"
         aria-valuenow="@ProgressBarValue"
         aria-valuemin="0"
         aria-valuemax="@ProgressBarMaxValue">
    </div>
</div>

@code{
    [Parameter]
    public bool ShowProgressBar { get; set; }

    [Parameter]
    public double ProgressBarValue { get; set; }

    [Parameter]
    public double ProgressBarMaxValue { get; set; }

    //[Parameter]
    //public EventCallback<double> ProgressBarValueChanged { get; set; }

    //[Parameter]
    //public EventCallback<bool> ShowProgressBarChanged { get; set; }
}
