@page "/registries/add"
@attribute [Authorize]

<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
        <form>
            <div class="form-section-title">
                Add new registry
            </div>
            <div class="form-group row">
                <div class="col">
                    <span class="text-muted small">
                        You can add image registries in here. To create a new image registry on your machine you can use offical registry image by Docker.
                        For more information please visit
                        <a href="https://docs.docker.com/registry/deploying/#running-a-domain-registry" target="_blank" class="font-weight-bolder">Docker docs</a>.
                        Docker forbids connections to registries without SSL.
                        You need to <a href="https://docs.docker.com/registry/insecure/#deploy-a-plain-http-registry" target="_blank" class="font-weight-bolder">modify Docker daemon file</a>
                        in order to connect to an insecure registry.
                    </span>
                </div>
            </div>
            <div class="form-group row">
                <label for="name" class="col-lg-1 col-form-label">Name:</label>
                <div class="col-lg-11">
                    <input type="text" class="form-control" id="name" placeholder="can be anything" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="url" class="col-lg-1 col-form-label">URL:</label>
                <div class="col-lg-11">
                    <input type="text" class="form-control" id="url" placeholder="http://10.20.30.40:5000, https://myhub.mydomain.com" required>
                </div>
            </div>
            <div class="form-section-title">
                Authentication
            </div>
            <div class="form-group row">
                <div class="col">
                    <span class="text-muted small">
                        You need to add credentials for pulling private images and pushing images to your Docker Hub repositories or connecting to your custom registry if it has password protection.
                    </span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-1 col-form-label">Username:</label>
                <div class="col-lg-11">
                    <input type="text" class="form-control" id="username">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-1 col-form-label">Password:</label>
                <div class="col-lg-11">
                    <input type="password" class="form-control" id="password">
                </div>
            </div>
            <button href="#" class="btn btn-primary my-2">Add registry</button>
        </form>
    </div>
</div>