@page "/settings"
@attribute [Authorize]

<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
        <form>
            <div class="form-section-title">
                <span class="fa fa-user"></span> Account
            </div>
            <div class="form-group row">
                <div class="col">
                    <span class="text-muted small">
                        <span class="fa fa-key"></span> Change password.
                    </span>
                </div>
            </div>
            <div class="form-group row">
                <label for="password" class="col-lg-2 col-form-label">New password:</label>
                <div class="col-lg-10">
                    <input type="password" class="form-control" id="password" placeholder="" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="passwordRepeat" class="col-lg-2 col-form-label">Re-enter new password:</label>
                <div class="col-lg-10">
                    <input type="password" class="form-control" id="passwordRepeat" placeholder="" required>
                </div>
            </div>
            <div class="form-section-title">
                <span class="fa fa-lock"></span> Authentication
            </div>
            <div class="form-group row">
                <label for="tokenExp" class="col-lg-2 col-form-label">Session duration:</label>
                <div class="col-lg-10">
                    <select class="form-control" id="tokenExp" required>
                        <option selected>1 hour</option>
                        <option>8 hours</option>
                        <option>1 day</option>
                        <option>1 week</option>
                        <option>1 month</option>
                        <option>3 months</option>
                        <option>1 year</option>
                    </select>
                </div>
            </div>
        </form>
        <a href="#" class="btn btn-primary my-2">Save</a>
    </div>
</div>